<template name="Education">
  <h4>Освіта</h4>
  <div class="edu">

    <div class="text">
      <p>1. Нововолинський електромеханічний коледж:</p>
        <ul>
          {{#each nemk}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
    </div>

    <div class="pic">
      <img src="NEMK.jpg">
      <div class="click">
        <a href="http://nemk.com.ua" target="_blank">Перейти</a>
      </div>
    </div>

  </div>
  <hr />
  <div class="edu">

    <div class="text">
      <p>2. Тернопільський національний технічний університет ім. І.Пулюя:</p>
      <ul>
        {{#each tntu}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>

    <div class="pic">
      <img src="TNTU.jpg">
      <div class="click">
        <a href="http://tntu.edu.ua" target="_blank">Перейти</a>
      </div>
    </div>

  </div>
</template>
